:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #131921;
    --secondary-color: #fff;
    --error-color: rgba(194, 0, 0, 0.71);
}

.header {
    /* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0 20px;
}

.header_home {
    font-size: 36px;
    line-height: 40px;
    height: 100px;
    text-decoration: none;
    color: var(--secondary-color);
}

.header_nav_link {
    margin-left: 20px;
    vertical-align: top;
    line-height: 40px;
}


.validated-field:invalid {
    outline: 2px solid var(--error-color);
}
.validated-field:focus:invalid {
    color: var(--error-color);
}

.card-content {
    max-width: 500px;
}


.state {
    display: none;
}

.state.active {
    display: block;
}

h2 {
    color: darkslateblue;
    margin: 30px 0 30px 0;
}

 #row {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    border: solid black

}

.circular--square {
    border-radius: 50%;
}

.parent {
    border: 1px solid #acace6;
    border-radius: 20px;
    margin: 10px auto;
    padding: 2rem 2rem;
    text-align: center;
    height: 40%;
    background-color: #acace6;
    color: white;
    max-width: 1600px;
    justify-content: center;
    font-family: Tahoma;
  }

.child {
    display: inline-block;
    padding: 2rem 2rem;
    vertical-align: middle;
    width: 40%;
    min-width: 600px;
    
  }

.link-container {
    display: block;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    min-width: 50%;
    max-width: 40%;
    margin: 10px auto;
    background-color: #ccccff;
    border-radius: 10px;
}

.links {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    color: black;
    padding: 10px;
    font-family: Tahoma;
    border: 3px solid #ccccff;
    border-radius: 10px;
}

button {
    font-family: Tahoma;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    border-color: white;
    color: black;
}

.admin {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 20px;
    width: 65%;
    margin: auto;
    color: darkslateblue;
}

label {
    font-weight: bold;
}

button:hover {
    color: lilac;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

  .typewriter {
      float: left;
  }

  #gamegar {
      float: right;
      max-width: 600px;
  }


 .css-typing p {
  border-right: .50em solid purple;
  font-family: Tahoma;
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap;                                /* Text will not line break. This is crucial to getting each letter to show the typing animation */
  overflow: hidden;                                   /* Any text that bleeds over the borders will be hidden. */
  text-align: left;                                   /* Keeps the text oriented to the left. */
}
.css-typing p:nth-child(1) {                          /* 1st paragarph in the 'css-typing' class in the HTML file. */
  width: 90%;                                         /* How much of the container this text animation will occupy. */
  -webkit-animation: type 1s steps(60);          
   animation: type 1s steps(60);                      
  -webkit-animation-fill-mode: forwards;              
  animation-fill-mode: forwards;                      
}

.css-typing p:nth-child(2) {
  width: 90%;                                         
  opacity: 0;
  -webkit-animation: type2 1s steps(80, end);
  animation: type2 1s steps(80, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  width: 60%;
  opacity: 0;
  -webkit-animation: type3 1s steps(100, end), blink .5s step-end infinite alternate;
  animation: type3 1s steps(100, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 4.5s;
  animation-delay: 4.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}




@keyframes type {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .50em solid purple;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  70% {
    border-right: .50em solid purple;
  }
  71% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .50em solid purple;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .50em solid purple;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .50em solid purple;
  }
  100% {
    opacity: 1;
  }
}


@-webkit-keyframes type3 {
 0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .50em solid purple;
  }
  100% {
    opacity: 1;
  }
}


@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}



@media (max-width: 1660px) {
  #gamegar {
    align-items: center;
}

.typewriter {
  text-align: center;

}
}